/* Style geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    background:#f7fbff;
}

h1 {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    margin-bottom: 40px;
}

li {
    list-style: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 20px;
    align-items: center;
}

/* Style Cabeçalho */

.logo-campus {
    width: 50px;
    border-radius: 50%;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #0b59a8;
    padding: 10px 100px;
    margin-bottom: 20px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}

.logo-campus {
    width: 50px;
    border-radius: 50%;
}

.busca {
    background-color: #364853;
}

.perfil {
    display: flex;
}

.abrirPerfil {
    display: none;
}

.perfil-opcao { 
    list-style: none;
}

.perfil-opcao {
    display: flex;
    gap: 20px;
}

/* Style Publicação Admin */

#publicar-noticias {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
}

#publicar-noticias h2 {
    color: #000;
    margin-bottom: 15px;
}

#publicar-noticias p {
    margin: 10px 0px;
    font-size: 1.3em;
}

#publicar-noticias textarea {
    width: 100%;
    height: 50%;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    resize: none; /* desativa redimensionamento manual */
    overflow-y: auto; /* rolagem se atingir limite */
}

#publicar-noticias button {
    font-size: 1.1em;
    background: #293740;
    color: #fff;
    border: none;
}

#titulo {
    max-height: 60px;
    min-height: 30px;
    margin-bottom: 15px;
    padding: 5px;
}

#conteudo {
    max-height: 200px;
    min-height: 70px;
    padding: 5px;
}

#publicar-noticias form {
    width: 100%;
    height: 50%;
}

#publicar-noticias form button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

/* Style Publicaçôes */

.container-publicacoes {
    border: 1px solid #ccc; 
    padding: 30px 30px; 
    margin-bottom: 10px;
    width: 900px;
    margin-top: 0px;
}

#topo-publicacao {
    display: flex;
    margin-bottom: 15px;
}

.container-publicacoes h2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1em;
}

.container-publicacoes p {
    font-size: 1em;
}

#nickPost {
    font-size: 1em;
    margin: 15px auto;
    display: flex;
    text-transform: capitalize;
}

#small {
    margin-left: 10px;
    font-size: 0.8em;
    text-transform: capitalize;
}

#reaction button {
    border-radius: none;
    background: none;
    margin: none;
    border: none;
    padding: 2px;
}

/* Style Interações (Comentários, Reações e Data) */

#interacoes {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

main section img {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.container-comentarios {
    display: none; 
    margin-top: 10px;

    /* padding: 50px; */
    /* background-color: red; */
}

#lista-comentarios {
    /* background: blue; */
    padding: 10px 0px;
}

#lista-comentarios h3 {
    margin-bottom: 10px;
    text-transform: capitalize;
}

#lista-comentarios h6 {
    font-size: 0.9em;
    text-transform: capitalize;
}

#lista-comentarios ul li {
    display: flex;
}

#lista-comentarios ul li p {
    margin-left: 5px;
    font-size: 0.8em;
}

.container-comentarios textarea {
    width: 90%;
    border: none;
    font-size: 1.2em;
    padding: 1px;
    outline: none;
    resize: none; /* desativa redimensionamento manual */
    overflow-y: auto; /* rolagem se atingir limite */
    max-height: 200px; /* limite de crescimento */
    min-height: 5px; /* altura inicial */
}

#form-comentario {
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
}

#form-comentario button {
    border: none;
    background-color: #293740;
    color: #fff;
    padding: 10px;
}

.fecharForm {
    display: none;
}


header>section>ul>li>a {
    font-size: 1em;
    color: #fff;
}

@media (max-width: 850px) {
    .container-publicacoes{
        width: 90%;
    }
    #publicar-noticias{
        width: 90%;
    }

    .abrirPerfil {
        display: flex;
    }
    .fecharForm {
        display: flex;
    }

    header>section>ul>li>a {
        color: #000;
    }
    
    #graficoPizza {
        width: 60%;
        height: 60%;
    }

    .perfil-opcao {
        width: 90%;
        height: 100%;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 75px;
        padding: 10px 0;
        border-radius: 5px;
        cursor:pointer;
        color: black;
        background-color: #fcfcfc;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        z-index: 10;
    }

    .perfil-opcao li {
        padding: 10px;
        text-align: left;
    }

    .perfil-opcao li a {
        display: block;
    }

    .perfil-opcao li:hover {
        background-color: #e0e5e7;
    }

    .perfil:active .perfil-opcao {
        display: block;
    }

}